*{
    padding: 0;
    margin: 0;
}

.log{
    background-image: url("../Assets/login-bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.frm{
    width: calc(100% - 68vw);
    max-width: 450px; 
    height: 75%;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(238, 238, 238, 0.85), -4px -4px 20px rgba(238, 238, 238, 0.85);
    border-radius: 15px;
    margin: auto auto;
    padding: 30px 45px;
}

.frm-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.frm h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 38px;
    color: #5E5669;
    margin: 30px  0 16px 0;
}

.frm p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(94, 86, 105, 0.6);
}

.frm label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #52525C;
    margin-top: 10px;
}

.int{
    display: flex;
    flex-direction: column;
    
}

.input{
    height: 36px;
    padding: 5px;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 8px;
}

.checkgrp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.check{
    display: flex;
    align-items: center;
}

.checkgrp p {
    font-size: 12px;
    margin-left: 5px;    
}

.eyecont{
    position: relative;
}

#eyeimg{
    position: absolute;
    right: 16px; 
    top: 56.5%;
}

#tint{
    color: rgba(14, 114, 58, 0.7);
}

.log-btn{
    width: 100%;
    height: 36px;
    margin: 20px 0 20px;
    color: #FFFFFF;
    background-color:#0E723A;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}

#lastp{
    text-align: center;
}

#dark{
    color: #0E723A;

}