*{
    padding: 0;
    margin: 0;
}

.log{
    background-image: url("../Assets/login-bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}